* {
    box-sizing: border-box;
}

html {
    font-family: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $s-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
    outline: none;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

.pull-right {
    float: right;
}