// Colors

$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$success: #54b247;
$danger: #f42c2c;
$secondary: #ff9800;
$off-white: #f7f7f7;

// Font Size

$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;

//Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;